<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- https://mybatis.org/mybatis-3/getting-started.html#exploring-mapped-sql-statements -->
<mapper namespace="home.bruce.mapper.UserAccountMapper">
<!--    <select id="selectById" resultType="home.bruce.bean.UserAccount">-->
    <select id="selectById" resultType="userAccount">
        select * from User_Account
        <where>
            id = #{id}
        </where>
    </select>

    <select id="selectAll" resultType="home.bruce.bean.UserAccount">
        select * from User_Account
    </select>
</mapper>